.budget_expenses{
  background-image: linear-gradient(to bottom, #74C69D, #081C15);
  text-align: center;
  padding: 10%;
}

.budget_expenses_row{
  text-align: center;
}
.budget_expenses_heading{
  font-family: Montserrat;
  padding-bottom: 5%;
  font-size: 400%;
  padding-top: 0;
}

.budget_expenses_button{
  background-color: #000;
  color:#fff;
}
.budget_expenses_card-text{
  font-family: Montserrat;
  padding: 5%;
}
.budget_expenses_card-title{
  font-family: Cormorant;
  font-size: 200%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background:rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.budget_button{
  margin-top: 3%;
}

.heading-budget-main{
  font-family: Cormorant;
  font-size: 400%;
}
.form_text_heading{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 200%;
  padding-top:5%;
}

.budget_container{
  padding:2%;
  margin: 5%;
  text-align: center;
}

.budget_answer{
  text-align: center;
  font-family: Montserrat;
}
.budget-income-heading{
  padding-bottom: 3%;
  font-family: Cormorant;
}
.budget-income-heading-2{
  padding-top: 3%;
  font-family: Cormorant;
}
